<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Insert title here</title>
</head>

<body>




  <div id="header">

    <div class="herder1">
      <a id="logo" href="/">JHS_GYM</a>
      <span th:if="${session.g_id == null || session.g_id == ''}">
        <a id="logo1" href="login">LOGIN</a>
        <a id="logo2" href="regist">REGIST</a>
      </span>
      <span th:if="${session.g_id != null && session.g_id != ''}">
      <a id="logo1" href="logout">LOGOUT</a>
       <a id="logo2" th:href="@{myPage(g_id=${session.g_id})}">MYPAGE</a>
    </span>
    </div>

  </div>

  <div id="center">
    <div th:if="${session.g_id == null || session.g_id == ''}" class="center1"> 멸치들아 이렇게 살거니<br>
      돼지들아 그렇게 찔거니 <br>
      바꿔보자 <br>
      <button class="button_container btn" onclick="location.href='/login'"><span>운동하러</span></button>
    </div>
    <div th:if="${session.g_id != null && session.g_id != 'admin'}" class="welcome">
      <div class=" center1 loginment">[[${session.g_id}]]씨  <br>  바뀔 준비가 되셨네요 <br>
     <span th:if="${session.g_bmi} < 18.5" > 저체중   
      <button class="button_container btn" id="bulkUpBtn"><span>살 찌기</span></button>
     </span> 
          
     <span th:if="${session.g_bmi} > 18.6 and ${session.g_bmi}<=23"> bmi: 정상이니 유지어터
      <button class="button_container btn"><span>유지하기</span></button> </span>
     <span th:if="${session.g_bmi} > 23" > bmi : 비만입니다 
      <button class="button_container btn" id="dietBtn"><span>살 뺴기</span></button>
     </span> 
  
       

   
      </div>

    </div>
    <div th:if="${session.g_id == 'admin'}" class="welcome">
      <div class="loginment center1 ">관리자님 환영합니다</div>
      <div id="admin">
        <button class="button_container btn" id="memberList" onclick="location.href='list'"><span>회원관리</span></button>
        <button class="button_container btn"><span>프로틴 관리</span></button>
      </div>
    </div>

  </div>



  <div id="footer">


  </div>



</body>

</html>