<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/logo.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/myPage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>


	  <div id="header">

		<div class="herder1">
			<a id="logo" href="/">JHS_GYM</a>
			<span th:if="${session.g_id == null || session.g_id == ''}">
			  <a id="logo1" href="login">LOGIN</a>
			  <a id="logo2" href="regist">REGIST</a>
			</span>
			<span th:if="${session.g_id != null && session.g_id != ''}">
			<a id="logo1" href="logout">LOGOUT</a>
			 <a id="logo2" th:href="@{myPage(g_id=${session.g_id})}">MYPAGE</a>
		  </span>
		  </div>

  </div>

	<div id="header1"></div>
	<div id="center">
		<div class="center1">
			<div class="myPagechang">
				<div>[Update]</div>

				<form action="/memberUpdate" id="memberUpdateForm" method="post">
					<table>
						<tr>
							<th><input type="hidden" name="g_no" id="g_no" th:value="${dto.g_no}"></th>
						</tr>
						<tr>
							<th><input type="text" name="g_id" id="g_id" th:value="${dto.g_id}"></th>
							<td><input type="button" name="id_check" id="id_check"
								value="중복"></td>
						</tr>
						<tr> 
							<th><input type="password" name="g_password" id="g_password"
								placeholder="password"></th>
						</tr>
						<tr>
							<th><input type="password" name="g_Rpassword"
								id="g_Rpassword" placeholder="password"></th>
						</tr>
						<tr>
							<th><input type="text" name="g_name" id="g_name" th:value="${dto.g_name}"
								placeholder="g_name"></th>
						</tr>
						<tr>
							<th><input type="text" name="g_height" id="g_height" th:value="${dto.g_height}"
								placeholder="height : 키"> 
								<input type="text"
								name="g_weight" id="g_weight" placeholder="weight : 몸무게" th:value="${dto.g_weight}">
							</th>
						</tr>
						<tr>
							<th><input type="hidden" name="g_bmi" id="g_bmi"></th>
						</tr>
						<tr>
							<td><input type="button" name="UpdateBtn" id="UpdateBtn"
								value="수정하기"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div id="footer"></div>
	<script src="/js/update.js"></script>
</body>

</html>